.history-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HEADER */
.history-header h2 {
  margin: 0;
}

/* PIN INPUT */
.pin-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pin-row input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.pin-row button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
}

/* BALANCE CARD */
.balance-card {
  margin-top: 15px;
  padding: 15px;
  border-radius: 12px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;
}

.balance-card p {
  margin: 0;
  font-size: 12px;
}

.balance-card h1 {
  margin: 5px 0 0;
}

/* TRANSACTIONS */
.transactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  border-radius: 12px;
  background: white;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.transaction-card:hover {
  transform: translateY(-2px);
}

/* LEFT SIDE */
.tx-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tx-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.tx-icon.debit {
  background: #ffe5e5;
  color: red;
}

.tx-icon.credit {
  background: #e5ffe5;
  color: green;
}

.tx-title {
  margin: 0;
  font-weight: 600;
}

.tx-sub {
  margin: 0;
  font-size: 12px;
  color: gray;
}

/* RIGHT SIDE */
.tx-amount {
  font-weight: bold;
}

.debit-text {
  color: red;
}

.credit-text {
  color: green;
}

/* CONTAINER */
.history-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* HEADER (FIXED AREA) */
.history-header {
  flex-shrink: 0;
}

/* SCROLL AREA ONLY */
.transactions-section {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 5px;
}

/* EMPTY STATE */
.empty-state {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.AccBalance{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btn{
  height: 30px;
  width: 60px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: #9badea;
  color: rgb(255, 255, 255);
  font-size: medium;
  font-weight: 800;
  cursor: pointer;
}


/* OPTIONAL: smooth scroll look */
.transactions-section::-webkit-scrollbar {
  width: 6px;
}

.transactions-section::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}